[Unit]
Description=My Python Script Service
After=network.target

[Service]
ExecStart= sh /home/jalmeida/epi-pt-chat/gunicorn.sh
WorkingDirectory=/home/jalmeida/epi-pt-chat
StandardOutput=append:/home/jalmeida/epi-pt-chat/logs/so.log
StandardError=append:/home/jalmeida/epi-pt-chat/logs/se.log
Restart=always
User=jalmeida
Environment="PATH=/home/jalmeida/miniconda3/envs/ragepi/bin"


[Install]
WantedBy=multi-user.target