[Unit]
Description=My Python Script Service
After=network.target

[Service]
ExecStart=/home/jalmeida/miniconda3/envs/ragepi/bin/python /home/jalmeida/epi-pt-chat/run.py
WorkingDirectory=/home/jalmeida/epi-pt-chat
StandardOutput=inherit
StandardError=inherit
Restart=always
User=joaoalmeida

[Install]
WantedBy=multi-user.target