

python-dotenv
llama-index
llama-index-llms-ollama
pandas

qdrant-client

llama-index-embeddings-huggingface
llama-index-embeddings-langchain
llama-index-vector-stores-qdrant  
langchain
langchain-community
langchain-huggingface

llama-index-postprocessor-cohere-rerank

ragas

langchain_google_genai
langchain_openai
langchain-ollama

rapidfuzz